
.sidebar-con{
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    flex-shrink: 0px;
    box-shadow: 0px 8px 40px rgba(7, 7, 7, 0.08); 
    width:100%;
    min-height:100vh;
    border-radius:5px;
}

.sidebar-head-con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:50%;
}

.bid-text{
    color:#0b69ff;
    font-family:'Roboto';
    font-weight:bold;

}

.sidebar-head-logo-con{
    background-color: #202020;
    border:1px solid black;
    border-radius: 50px;
    padding: 2px 8px 2px 8px;
}

.sidebar-option-head-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:50%;
    height:200px;
}

.sidebar-bottom-con{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width:50%;
    height:200px;
    margin-top:200px;
}

.sidebar-option-con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
}


.sidebar-option1-con{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width:100%;
    background-color: lightskyblue;
    border-radius:5px;
    padding: 0px 5px 0px 1px;
}
